{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>Topics</h1>
            {% if task_list|length > 0 %}
                        {% for task in task_list %}
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                      <li class="breadcrumb-item"><a href="#">{{ task.project }}</a></li>
                                      <li class="breadcrumb-item active" aria-current="page">{{ task.topic }}</li>
                                    </ol>
                                  </nav>
                            </button>
                          </h2>
                          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {% if task.link is not None %}
                                <a href="{{ task.link }}">{{ task.link }}</a>
                                {% else %}
                                {{ task.link }}
                                {% endif %}
                                <a href="{% url 'desription_task' task.id %}">add to notes</a>
                                {% if task.description is not None %}
                                {{ task.description }}
                                {% else %}
                                <div></div>
                                {% endif %}
                            </div>
                          </div>
                        </div>
                           
                        {% endfor %}
                    </tbody>

            {% else %}
                <p>You have no tasks</p>
                </div>
            {% endif %}
        </main>
{% endblock content %}