{% for task in project.tasks.all %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ task.topic }} on {{ task.date }} by {{ task.method }} for {{ task.minutes }} minutes
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            {% if task.link is not None %}
            <a href="{{ task.link }}">{{ task.link }}</a>
            {% else %}
            {{ task.link }}
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}