{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{project.name}}</h1>
            {{ project.description|markdownify }}
            <h2>Topics</h2>
            <a href="{% url 'create_task' %}">Create Topic</a>
            {% if project.tasks.all|length > 0 %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Topic</th>
                            <th>Date</th>
                            <th>Method</th>
                            <th>Link</th>
                            <th>Time</th>
                            <th>Understand</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in project.tasks.all %}
                            <tr>
                                <td>{{ task.topic }}</td>
                                <td>{{ task.date }}</td>
                                <td>{{ task.method }}</td>
                                {% if task.link is not None %}
                                <td><a href="{{ task.link }}">{{ task.link }}</a></td>
                                {% else %}
                                <td>{{ task.link }}</td>
                                {% endif %}
                                <td>{{ task.minutes }}</td>
                                <td>{{ task.understanding }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no topics</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}

